@use "../../styles/variables" as v;

.content {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../assets/bgfundoHero.png");
  background-size: cover;
  background-position: center;
}

.contentIcons {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
  padding: 0 20px;
  align-items: center;
  gap: 20px;

  svg {
    cursor: pointer;
    color: v.$bg-body;
    font-size: 25px;
  }
}

.contentLogo {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBtnHero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
